################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ESS/bin
/ESS/obj
/.vs/ESS
/.vs
